<div fxFlexFill fxLayout="column" fxLayoutAlign="center center">
  <h1 class="mat-h1">New Tournament</h1>
  <div fxLayout="row" fxLayoutGap="100px">
    <form
      fxLayout="column"
      fxLayoutGap="10px"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
    >
      <mat-form-field hideRequiredMarker>
        <mat-label>Tournament Name</mat-label>
        <input formControlName="name" matInput placeholder="My Tournament" />
        <mat-error *ngIf="form.get('name').hasError('required')"
          >Enter a name for the tournament</mat-error
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Match Scoring</mat-label>
        <mat-select formControlName="scoring">
          <mat-option value="highest">Highest score wins</mat-option>
          <mat-option value="lowest">Lowest score wins</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button
          type="submit"
          [disabled]="submitted && !form.valid"
          mat-raised-button
          color="primary"
        >
          Create
        </button>
      </div>
    </form>
    <div>
      <app-competitor-list
        [competitors]="competitors"
        (onAddCompetitor)="addCompetitor($event)"
        (onRemoveCompetitor)="removeCompetitor($event)"
      ></app-competitor-list>
    </div>
  </div>
</div>
