<div fxLayout="column" fxLayoutAlign="start center">
  <h1 class="mat-display-1">Create A Tournament</h1>
  <form [formGroup]="tournamentForm" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input
          matInput
          placeholder="My Tournament"
          formControlName="tournamentName"
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Add Competitor</mat-label>
        <input
          type="text"
          matInput
          placeholder="Competitor name"
          formControlName="competitorName"
          (keyup.enter)="addCompetitor()"
        />
      </mat-form-field>
      <button
        [disabled]="!tournamentForm.get('competitorName').value"
        type="button"
        mat-raised-button
        (click)="addCompetitor()"
      >
        Add
      </button>
    </div>
    <div>
      <mat-list role="list">
        <mat-list-item
          *ngFor="let competitor of tournamentForm.get('competitors').value"
          role="listitem"
        >
          {{ competitor }}
        </mat-list-item>
      </mat-list>
    </div>
    <div>
      <button
        type="submit"
        [disabled]="!tournamentForm.valid"
        mat-raised-button
        color="primary"
      >
        Create
      </button>
    </div>
  </form>
</div>
