<mat-toolbar class="mat-elevation-z6" color="primary">
  <a [routerLink]="['/']" mat-button class="nav-link home">Tournament</a>
  <ul role="navigation">
    <li>
      <a mat-button class="nav-link" [routerLink]="['/schedule/create']"
        >My tournaments</a
      >
    </li>
    <li><a mat-button class="nav-link">Guide</a></li>
  </ul>
  <span class="spacer"></span>
  <div *ngIf="user">
    <a mat-button class="nav-link" [routerLink]="['/profile']"
      ><mat-icon aria-hidden="false" aria-label="Example home icon"
        >person</mat-icon
      >{{ user.name }}</a
    >
    <button mat-button class="nav-link" (click)="logout()">Logout</button>
  </div>
  <div *ngIf="!user">
    <a mat-button class="nav-link" [routerLink]="['/login']">Login</a>
    <a mat-button class="nav-link" [routerLink]="['/register']">Sign Up</a>
  </div>
  <a mat-button>
    <img
      class="nav-link image"
      src="./assets/img/GitHub-Mark-Light-32px.png"
    />GitHub
  </a>
</mat-toolbar>
